/* sharing style */
body{
  font-family: "Open Sans", serif;
  margin: 0px;
  padding: 0px;
}

.text-primary{
    color: #FD6E0A;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 150px 30px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(20, 19, 19);
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
}

/* header style */

.header{
    background-color: #FFF8F3;
    padding: 0px 30px 0px 150px;
    background-image:url("/images/developer.png"), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom, bottom right;

}


.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    align-items: center;
    max-width: 500px;
 }
.greeting{
    margin-bottom: 0;
}
.banner-title{
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-description{
    margin-top: 5px;
}
.banner-title{
    
}
.header .profile-pic{
    width: 500px;

}

.download{
    margin-right: 0;
}
.contact{
    margin-left: 15px;
}

.about-container{
    max-width: 1140px;
    background-color: #FFF8F3;
   margin: 20px auto;
}

.about-title{
    text-align: center;
    padding-top: 50px;
   
}

.about-description{
    text-align: center;
    padding: 0px 50px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.what-i-do{
    max-width: 1140px;
   margin: 20px auto;
}
.what-i-do h3{
    text-align: center;
}
.what-i-do p{
    text-align: center;
    padding: 30px 150px;
}
.skill-contain{
    display: flex;
    max-width: 1140px;
    margin: 30px auto;
}

.skill{
    margin: 30px 15px;
    box-shadow: 15px 15px 5px whitesmoke;
    padding: 30px;
}

.resume h1{
text-align: center;
margin: 30px 0px;
}
.resume-content{
    display: flex;
    gap: 30px;
    max-width: 1140px;
    margin: 30px auto;
}
.btn-center{
    text-align: center;
}

